*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background: url("https://wallpaperaccess.com/full/162119.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
    #wrapper {
        min-height: 100vh;
        header {
            background: #e05415;
            text-align: center;
            font-size: 32px;   
            padding: 12px;
        }
        #add-post-form {
            text-align: center;
            width: 80%;
            margin: 30px auto 0 auto;
            background: #e05415;
            padding: 12px;
            border-radius: 3px;
            &-title {
                width: 100%;
                text-align: center;
                height: 35px;
                margin: 10px auto;
            } 
            &-text {
                width: 100%;
                text-align: center;
                min-height: 68px;
            }   
            &-submit {
                margin: 10px auto 0 auto;
                text-align: center;
                &-button {
                    text-align: center;
                    margin: 0;
                    background:  #fff;
                    outline: 0;
                    box-shadow: none;
                    border: 0;
                    height: 35px;
                    min-width: 50px;
                    color: #111;
                }
            }        
        }
        #all-posts {
            .post {
                width: 80%;
                background: #e05415;
                padding: 12px;
                border-radius: 3px;
                margin: 30px auto 0 auto;
                overflow: hidden;

            }
        }
    }
}
